.Weather form {
  margin-bottom: 20x;
}
.Weather .search-button {
  color: white;
  background-color: #a6cffe;
}
.Weather h1 {
  line-height: 29px;
  font-weight: 100px;
  font-size: 24px;
  margin-top: 20px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 15px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-right:10px;
}
.Weather .temperature {
  font-size: 60px;
  color: rgb(33, 33, 33);
  line-height: 60px;
}
.Weather .unit {
  font-size: 16px;
  position: relative;
  top: -40px;
  left:7px;
  color: rgb(33, 33, 33);
}
